[submodule "Engine/Renderer/Libs/stb"]
	path = Engine/Renderer/Libs/stb
	url = https://github.com/nothings/stb
[submodule "Engine/Core/Libs/glm"]
	path = Engine/Core/Libs/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/Core/Libs/SDL"]
	path = Engine/Core/Libs/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/Core/Libs/fmt"]
	path = Engine/Core/Libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Engine/ECS/Libs/Entt"]
	path = Engine/ECS/Libs/Entt
	url = https://github.com/skypjack/entt.git
[submodule "Tests/Libs/Doctest"]
	path = Tests/Libs/Doctest
	url = https://github.com/doctest/doctest.git
[submodule "Engine/Core/Libs/Optick"]
	path = Engine/Core/Libs/Optick
	url = https://github.com/MauroDeryckere/optick.git
[submodule "Engine/Renderer/Libs/Assimp"]
	path = Engine/Renderer/Libs/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/Renderer/Libs/vma"]
	path = Engine/Renderer/Libs/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Engin/Core/Libs/UUID"]
	path = Engin/Core/Libs/UUID
	url = https://github.com/MauroDeryckere/UUID
